


.section-cards {
    padding: 10rem 0 10rem 0;
    background-image:
    linear-gradient(to right bottom,
        rgba($color-grey-light-1, 0.9),
        rgba($color-grey-dark, 0.9)),
    url(../img/benedek-csiszar-L6J_M3v43vA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-size: cover;
    transform: skewY(-7deg);
    display: flex;
    flex-direction:column;
    align-items: center;

    @media screen and (min-width:1025px){
        flex-direction: row;
        justify-content: space-evenly;
    }

    &>* {
        transform: skewY(7deg);
    }


    &-div-1,
    &-div-2,
    &-div-3,
    &-div-4 {
        background-color: rgba($color-white, .8);
        font-size: 1.5rem;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        margin: 5rem;
        height: 25rem;

        @media screen and (min-width: 769px) {
            height: 30rem;
            width: 50%;
        }
        @media screen and (min-width: 769px) {
            height: 75%;
            width: 20rem;
        }
    
    }
   
}

.fa-camera-retro,
.fa-globe,
.section-cards-div-3>h3,
.section-cards-div-4>h3 {
    font-size: 6rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .2rem;
}

.fa-camera-retro,
.fa-globe {
    font-size: 4.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}















