
.u-center-text {
    text-align: center;
}

.section-about-grid {
    display: grid;

    font-size: $default-font-size;
    height: 30rem;
    position: relative;
    grid-template-areas:
        " col-1 col-2";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40rem;
    gap: 5rem;

}

.col-1 {
    grid-area: col-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem;

}

.section-about-link {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
}

.col-2-picture-1 {

    background-image: url(../img/esztergom.jpg);
    background-size: cover;
    right: 36rem;
    top: -2rem;
    z-index: 1;
}

.col-2-picture-2 {

    background-image: url(../img/madarak.jpg);
    background-size: cover;
    background-position: top;
    right: 14rem;
    top: 3rem;
    z-index: 1;
}

.col-2-picture-3 {

    background-image: url(../img/waterski.jpg);
    background-size: cover;
    background-position: bottom;
    top: 10rem;
    right: 32rem;
    z-index: 1;
}

.col-2 {
    grid-area: col-2;
    padding: 5rem;


    .col-2-picture-1,
    .col-2-picture-2,
    .col-2-picture-3 {
        width: 27rem;
        height: 20rem;

        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        transition: all .2s;
        outline-offset: 2rem;

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.25);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 10;

            &:not(:hover) {
                transform: scale(-2);
            }
        }
    }
}

.section-cards {
    padding: 20rem 0 20rem 0;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/duna.jpg);
    background-size: cover;
    display: flex;
    transform: skewY(-7deg);
    margin-top: -9rem;
    z-index: -10;

    &>* {
        transform: skewY(7deg);
    }


    &-div-1,
    &-div-2,
    &-div-3,
    &-div-4 {
        background-color: rgba($color-white, .8);
        font-size: 1.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        margin-left: 3rem;
        margin-right: 3rem;

    }

}

.fa-camera-retro,
.fa-globe,
.section-cards-div-3>h3,
.section-cards-div-4>h3 {
    font-size: 6rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .2rem;
}

.fa-camera-retro,
.fa-globe {
    font-size: 4.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}



.rotate-card-h2 {

    width: 100%;
    margin-bottom: 10rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .2rem;
    text-align: center;
}

.rotate-card {
    background-color: $color-grey-light-1;
    padding: 25rem 0 5rem 0;
    margin-top: -10rem;
    text-align: center;
}

.rotate-card-flex {
    display: flex;
    justify-content: space-around;



}

.flip-card {
    background-color: transparent;
    width: 30rem;
    height: 50rem;
    perspective: 150rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

}

.flip-card-front {
    background-color: #f7f7f7;
    color: black;
}

.flip-card-back {
    &-one {
        background-image: linear-gradient(to right bottom,
                rgba($color-card1-light, 0.8),
                rgba($color-card1-dark, 0.8)),
            url(../img/naplementes.jpg);
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
    }

    &-two {
        background-image: linear-gradient(to right bottom,
                rgba($color-card2-light, 0.8),
                rgba($color-card2-dark, 0.8)),
            url(../img/uveggomb.jpg);
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;

    }

    &-three {
        background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)),
            url(../img/evezve.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    color: white;
    transform: rotateY(180deg);
}

.flip-card-front {
    background-size: cover;


    .card-picture--1 {
        background-image: linear-gradient(to right bottom,
                rgba($color-card1-light, 0.8),
                rgba($color-card1-dark, 0.8)),
            url(../img/naplementes.jpg);
        background-position: bottom;
        background-size: cover;
        height: 18rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    .card-picture--2 {
        background-image: linear-gradient(to right bottom,
                rgba($color-card2-light, 0.8),
                rgba($color-card2-dark, 0.8)),
            url(../img/uveggomb.jpg);
        background-size: cover;
        background-position: left;
        height: 18rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    .card-picture--3 {
        background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)),
            url(../img/evezve.jpg);
        background-size: cover;
        height: 18rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    .card-heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 6rem;
        left: 2rem;

    }


}

.flip-card-back-btn {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);

    border: none;

    color: $color-grey-light-1;
    transform: rotateY(-180deg);

}

.rotate-card-btn:link,
.rotate-card-btn:visited {

    position: relative;
    text-decoration: none;
    color: $color-white;
    background-color: $color-primary-light;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    margin: 10rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;

}

.rotate-card-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
}

.rotate-card-btn:active {
    transform: scaleX(1.4) scaleY(1.6);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
}

.rotate-card-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    background-color: $color-primary-light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;


}

.rotate-card-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


   
.section-galery {

    height: 60rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 200rem;
    perspective-origin: 25% 5%;
    display: flex;


    &-contain{
        background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/duna1.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 60%;
        margin-right: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   


    &-div {
        height: 85%;
        width: 45%;
        background-color: $color-grey-light-1;
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &-h4 {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        &-p {
            font-size: 1.3rem;
            text-align: center;
            padding: 0 2rem 0 2rem;
            line-height: 3rem;
        }

        &-btn:link,
        &-btn:visited {
            padding: 1.5rem 4rem;
            text-align: center;
            position: relative;
            text-decoration: none;
            color: $color-white;
            font-weight: 800;
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
            background-color: $color-primary-light;
            text-transform: uppercase;
            display: inline-block;
            margin: 2rem 10rem 2rem 10rem;
            border-radius: 10rem;
            transition: all .2s;
            position: relative;

        }

        &-btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba($color-black, 0.2);
        }

        &-btn:active {
            transform: scaleX(1.4) scaleY(1.6);
            box-shadow: 0 10px 20px rgba($color-black, 0.2);
        }

        &-btn::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            background-color: $color-primary-light;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;

        }

        &-btn:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &-cube {
        height: 1rem;
        position: relative;
        transform-style: preserve-3d;
        margin-top: 20rem;
        transition: transform 3s linear;
    
     
        &:hover {
            transform-origin: center;
            transform: rotate3d(1, 1, 1, 360deg);
        }

        .front,
        .back,
        .right,
        .left,
        .bottom,
        .top {
            width: 25rem;
            height: 25rem;
            position: absolute;
            opacity: 0.7;
            border: 1px solid rgb(39, 39, 39);
            display: flex;
            flex-direction: column;
            justify-content: center;
           

            img{
                width: 100%;
            }
        }

        .front {

            transform: translateZ(-12.5rem);
        }

        .back {

            transform: translateZ(12.5rem);
        }

        .right {

            transform: rotateY(90deg) translateZ(12.5rem);
        }

        .left {

            transform: rotateY(270deg) translateZ(12.5rem);
        }

        .bottom {

            transform: rotateX(90deg) translateZ(-12.5rem);
        }

        .top {

            transform: rotateX(90deg) translateZ(12.5rem);
        }

    }
}
footer{
   height: 10rem;
   background-color: $color-grey-light-1;
}