@import "variables";
@import "second";
@import "header";
@import "footer";
@import "section";
@import "form";




*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;

}

html {
    font-size: 10px;
}

body {

    font-family: 'Cormorant', serif;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;

}
.fel {
    a {
        text-decoration: none;
        color: $color-grey-medium;
        font-size: 5rem;
        font-weight: bold;
        
    }

    height: 4.2rem;
    width: 3.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    position: sticky;
    bottom: 0rem;
    float: right;
    right: 1rem;
    font-size:3rem;
    text-transform: uppercase;
    box-shadow: $shadow-dark;

}