

.section-galery-contain-all {
    display: flex;
    flex-direction: column;
    align-items: center;


    @keyframes rotate {
        100% {
            // transform: rotate3d(1, 1, 1, 360deg);
            transform: rotateY(360deg);
            transform-origin: center;
        }
    }

    .section-galery-contain {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section-galery {

            width: 75%;
            position: relative;
            transform-style: preserve-3d;
            animation: rotate 18s linear infinite;

            &-cube {
                height: 1rem;
                position: relative;
                transform-style: preserve-3d;


                .front,
                .back,
                .right,
                .left,
                .bottom,
                .top {
                    width: 20rem;
                    height: 20rem;
                    position: absolute;
                    opacity: 0.8;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    img {
                       width: inherit;
                       height: inherit;
                    }
                }

                .front {

                    transform: translateZ(-11rem);
                }

                .back {

                    transform: translateZ(11rem);
                }

                .right {

                    transform: rotateY(90deg) translateZ(11rem);
                }

                .left {

                    transform: rotateY(270deg) translateZ(12rem);
                }


            }
           
        }
    }

    h3 {

        margin: 5rem 0 5rem 0;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image:$color-grey-light-1;
        letter-spacing: .2rem;
    }

    p {
        text-align: center;
        padding-top: 23rem;
        color: $color-grey-medium;
     
    }

}

.section-galery-btn{
 
    &:link,
    &:visited {
        position: relative;
        text-decoration: none;
        color: $color-white;
        background-color:$color-grey-medium;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;  
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 800;
        width: 8rem;
        height: 4rem;
        line-height: 1.1;
        margin: 2rem 0 4rem 0;

    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
    }

    &:active {
        transform: scaleX(1.4) scaleY(1.6);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        background-color: $color-grey-medium;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;

    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}